@charset "utf-8";
/* CSS Document */
@import url('reset.css');
@import url('grid.css');
@font-face {
    font-family: 'ArgentumSans';
    src: url('/fuentes/ArgentumSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
:root {
    --fondo-claro: #F6F7FA;
    --azul--osc: #0057B8;
    --azul-claro: #0072CE;
    --color-morado: #582C83;
    --color-gris: #3B5266;
    --color-negro: #000;
    --fuente-principal: 'Saira', sans-serif;
    --fuente-secundaria: 'ArgentumSans', sans-serif;
}

html, body{
	margin:0;
	padding: 0;
	font-family: var(--fuente-secundaria);
}

.container-product{
	padding: 76px 56px;
}
#menu-categorias{
	padding: 0;
	margin: 0;
	
}
#menu-categorias li a{
	display: block;
}
#menu-categorias li a.active{
	color: var(--color-morado);
	font-weight: 700;
	background-color:#EDEEF2;
}
.promo-product h1{
	color: var(--color-morado);
	font-family: var(--fuente-secundaria);
    text-align: left;
	padding: 36px 0 36px 99px;;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}
.promo-product{
	border-bottom: 1px solid var(--color-negro);
}
.row-product li{
	width: 336px;
}
.name-menu{
	color: var(--azul-claro);
	text-align:start;
	font-family: var(--fuente-secundaria);
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 148.148% */
	letter-spacing: -0.27px;
	margin-bottom: 26px;
}
.name{
	color: var(--color-gris);
	text-align: left;
	font-family: var(--fuente-secundaria);
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px; /* 181.818% */
	letter-spacing: -0.22px;
	border-bottom: 1px solid var(--color-gris);
	padding: 10px 0;
}
.catego-cant{
	float: inline-end; 
}
@media only screen and (max-width:768px){
	#menu{
		display:none;
	}
}
.name-catego{
	color: var(--azul-claro);
	text-align:start;
	font-family: var(--fuente-secundaria);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 100% */
	letter-spacing: -0.4px;
}
.descripcion{
	color: var(--color-gris);
	text-align:start;
	font-family: var(--fuente-secundaria);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 91.667% */
	letter-spacing: -0.24px;
	margin-top: 25px;
}
.conoce{
	margin: 80px 0 30px 0;
	color: var(--color-morado);
	text-align:start;
	font-family: var(--fuente-secundaria);
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px; /* 160% */
	letter-spacing: -0.25px;
}
.c-codigo{
	color: var(--color-morado);
	text-align:start;
	font-family: var(--fuente-secundaria);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 100% */
	position: absolute;
	left: 8%;
	bottom: 34%;
	width: 104px;
	height: 24px;
	display: flex;
	justify-content: flex-start;
	z-index: 100;
}
.card-desc{
	color: var(--color-gris);
	text-align:start;
	font-family: var(--fuente-secundaria);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	position: absolute;
	left: 8%;
	bottom: 28%;
	height: 24px;
	display: flex;
	justify-content: flex-start;
	z-index: 100;
	width: 253px;
	letter-spacing: .3px;
	text-overflow: ellipsis;
/*	white-space: nowrap;*/
	-o-text-overflow: ellipsis;
}
.grid-image{
	width: 352px;
	height: 544px;
/*	object-position: center;*/
	object-fit: contain;
}
.btn-vermas-catego{
	position: absolute;
	right: 8%;
	bottom: 6%;
	width: 138px;
	height: 48px;
	display: flex;
	justify-content:center;
	z-index: 100;
	color: var(--azul-claro);
	text-align:center;
	font-family: var(--fuente-secundaria);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px; 
	cursor: pointer;
}

.product-box-catego{
	display: flex;
	flex-direction: column;
	width: 352px;
	height: 544px;
	padding:5px;
	margin: 0 86px 54px 0;
	position: relative;
}
.pagination{
    text-align: center;
    list-style: none;
    font-size: 18px;
}

.pagination li{
    display: inline-block;
	width: 40px!important;
	float: right;
}

.pagination li a{
    padding: 10px;
    width: 40px;
	height: 40px;
	color: var(--color-gris);
	font-family: var(--fuente-secundaria);
}

.pagination li a.active{
    color: var(--color-gris);
	font-family: var(--fuente-secundaria);
}
